@page
@model DiamondDrillingReport.Pages.Areas.DeleteModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<hr />
<div class="row">
    <div class="col-sm-9">
        <h3>@Localizer["QuestionDelete"]</h3>
        <div>
            <h4>@Localizer["Area"]</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Localizer["Name"]
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Area.Name)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Area.ID" />
                <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" />
            </form>
        </div>
    </div>
    <div class="col-sm-3">
        <button type="button" id="btnQueryStringBack" class="btn btn-block">@Localizer["BACK"]</button><br /><br />
    </div>
</div>
@section Scripts {
    <script>
    </script>
}
